<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{title}}</title>
    <meta charset="utf-8"/>
</head>
<body>
<div class="container mt-md-5 col-6">
    <a href="/teachers" class="badge badge-info">К списку преподавателей</a>
    <h1 class="display-4 mb-5">Создание</h1>
    <h2>Список свободных кадров-преподавателей</h2>
    {{#if results}}
        <form method="POST">
            <select name="id" class="form-control form-control-lg mb-3">
                {{#each results}}
                    <option name="id" value="{{this.id}}">{{this.last_name}} {{this.first_name}} {{this.patronymic}}</option>
                {{/each}}
            </select>
            <div class="form-group">
                <label for="specialization">Cпециализация</label>
                <input type="text" name="specialization" class="form-control" id="specialization" required>
            </div>
            <div class="form-group">
                <label for="subject">Cпециальность</label>
                <input type="text" name="subject" class="form-control" id="subject" required>
            </div>
            <button type="submit" class="btn btn-info">Создать</button>
        </form>
        {{/if}}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
<html>
